importFrom("utils", "write.csv")
importFrom("utils", "read.csv")
importFrom("dplyr", "%>%")
importFrom("TSP", "TSP")
importFrom("leaflet", "addMarkers")
importFrom("leaflet", "addTiles")
importFrom("data.table", "data.table")
importFrom("ggmap", "geocode")
importFrom("googleway", "google_distance")
importFrom("leaflet", "leaflet")
importFrom("gtools", "permutations")
importFrom("leaflet", "setView")
importFrom("TSP", "solve_TSP")
importFrom("TSP", "tour_length")
importFrom("shiny", "downloadHandler")
export(autoskaicius)
export(autoskaicius1)
export(autoskaicius2)
export(duomenys)
export(koord)
export(kraunam)
export(link)
export(linkiukas)
export(mapai)
export(maps_koord)
export(maps_start)
export(maps_test1)
export(nuskaityti)
export(paskirstymas)
export(pranesimas_auto)
export(pranesimas_kl)
export(rek_auto_sk)
export(rek_auto_sk1)
export(rezults)
export(route1)
export(summarauto)
export(summarauto1)
export(summarkl)
export(summarkl1)
export(veidr)
export(down)
export(klientulentele)
export(autolentele)









